@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.blink {
  animation: blink 2s infinite;
}
.menu-btn {
  position: absolute;    
  top: 10px;
  left: 50px;
  color: violet;
  background-color: black;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.menu-list {
  position: absolute;
  top: 36px;
  left: 50px;
  list-style-type: none;
  padding: 0;
  display: none;
  background-color: #444;
}

.menu-list li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.menu-list li a:hover {
  background-color: #5e5b76;
}

.logo {
  height: 150px;
  margin-bottom: 50px;
  object-fit: contain;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #222;
    color: white;
    margin: 0;
    line-height: 2;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .banner {
    align-items: center;
    justify-content: center;
  }
  .content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-container {
    justify-content: center;
    width: 100svw;
  }
  .menu-btn {
    left: 0px;
    top: 0px;
  }
  .menu-list {
    left: 0px;
    top: 26px;
  }
}

.main-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  color: white;
}
header {
  text-align: center;
  display: block;
  width: 100%;
}

.banner {
  flex: 1;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.images{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 1);
  border-top: 1px solid black;
  height: 30px;
}

.photo-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tooltip {
  background-color: rgba(11, 0, 0, 0.155);
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 20px;
}

.boldwords {
  font-weight: bold;
  font-size: 20px;
}

.tooltip-term {
  position: relative;
  cursor: help;
  border-bottom: 1px solid yellow;
}

.tooltip-box {
  font-size: 12px;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  max-width: 200px;
  top: 120%;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}